{% extends 'base.html' %}
{% block body %}

<form method="POST" action="{{ url_for('signup') }}">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>SIGNUP FORM</legend>
        <div class="row">
            {{ form.username.label }}
            {{ form.username }}
            <div class="red">
                {% for error in form.username.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {{ form.password.label }}
            {{ form.password }}
            <div class="red">
                {% for error in form.password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endblock %}
